body {
  margin: 0;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}

.App {
  width: 100%;
  text-align: center;
  margin:auto;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.decision-show-title:hover, .content-tile:hover{
  color: grey;
}

.navbar {
  background-color: white;
  padding: 30px;
}

div .stuff {
  background-color: red;
}

.signup-container {
  padding-top: 200px;
}
